tqdm
torchvggish
regex
docker
ebooklib
fastapi
hf_xet
beautifulsoup4
nagisa
pymupdf
pymupdf-layout
pytesseract
unidic
hangul-romanize
indic-nlp-library
iso639-lang
soynlp
jieba
pycantonese
pypinyin
pythainlp
mutagen
PyOpenGL
phonemizer-fork
pydub
unidecode
langdetect
stanza==1.10.1
pyannote-audio==3.4.0
argostranslate==1.10.0
gradio==5.49.1
torch<=2.7.1
torchaudio<=2.7.1
transformers==4.57.6
coqui-tts[languages]==0.27.5
ext/py/num2words

ext/py/demucs
