# please make sure you have already a pytorch install that is cuda enabled!
dora-search
diffq
einops
flake8
hydra-colorlog
hydra-core
julius
lameenc
museval
mypy
openunmix
pyyaml
submitit
torch
torchaudio
tqdm
treetable
soundfile
